.block4 {
    height: 1000px;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
}

.block4 h2 {
    margin-top: 50px; 
    margin-left: 450px; 
    color: white; 
    font-size: 50px
}

.grid-container {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: 1fr 4fr 2fr 3fr;
}

.grid-item {
    padding: 30px;
    text-align: center;
    background-color: #f0f0f0;
    border: 0.5px solid black;
    color: white;
    font-size: 20px;
}

.grid-item.grid-item-6 {
    background-image: url('https://thumbs.dreamstime.com/z/cute-asian-girl-hugging-her-guitar-white-background-jeans-jacket-fedora-hat-lookng-camera-53583609.jpg?w=992');
    background-size: cover;
    background-position: center;
}

.grid-item.grid-item-8 {
    background-image: url('https://wallpapercave.com/dwp2x/wp4101501.jpg');
    background-size: cover;
    background-position: center;
}

.grid-item.grid-item-14 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f3/Shreya_at_concert.jpg');
    background-size: cover;
    background-position: center;
}
